:root {
  font-family: "DM Sans", sans-serif;
  --clr-soft-red: 10, 79%, 65%;
  --clr-cyan: 186, 34%, 60%;
  --clr-dark-brown: 25, 47%, 15%;
  --clr-med-brown: 28, 10%, 53%;
  --clr-cream: 27, 66%, 92%;
  --clr-pale-orange: 33, 100%, 98%;
  --fs-24: 1.5rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-15: 0.9375rem;
}

/* MODERN CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: hsl(var(--clr-pale-orange));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 90vw;
  max-width: 540px;
  max-height: 660px;
  min-height: 534px;
}

.balance-container {
  background-color: hsl(var(--clr-soft-red));
  color: hsl(var(--clr-cream));
  justify-content: space-between;
  align-items: center;
  height: 97px;
  padding: 32px;
  border-radius: 5px;
}

@media screen and (min-width: 810px) {
  .balance-container {
    height: 125px;
  }
}

.balance-container > p > span:first-of-type {
  font-size: var(--fs-15);
}

.balance-container > p > span:nth-child(2) {
  font-size: var(--fs-24);
  font-weight: 700;
}

img {
  width: 60px;
  height: 40px;
}

@media screen and (min-width: 810px) {
  img {
    width: 72px;
    height: 48px;
  }
}
